name: Autorender

on:
    push

jobs:
    autorender:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up R
              uses: r-lib/actions/setup-r@v2
              with:
                use-public-rspm: true
            - name: Install R dependencies
              uses: r-lib/actions/setup-r-dependencies@v2
              with:
                cache: always
                # done in next step
                install-quarto: false
            - name: Install Quarto
              uses: quarto-dev/quarto-actions/setup@v2
            - run: |
                quarto --version
            - name: Render
              uses: quarto-dev/quarto-actions/render@v2
              with:
                to: html
                path: analysis.qmd